/* Coolors Exported Palette - coolors.co/011638-6f2dbd-7f2982-8d57a8-a663cc */
/* RGB */
$purple1: rgba(1, 22, 56, 1);
$purple2: rgba(111, 45, 189, 1);
$purple3: rgba(127, 41, 130, 1);
$purple4: rgba(141, 87, 168, 1);
$purple5: rgba(166, 99, 204, 1);
$blue: rgba(17, 86, 149, 1);
$green: rgba(52, 153, 67, 1);
$red: rgba(255, 74, 64, 1);
$yellow: rgba(245, 223, 76, 1);
$grey: rgba(68, 68, 68, 1);
$grey-light: rgba(170, 170, 170, 1);
$white: rgba(238, 238, 238, 1);
